# === COMMON === #

# binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# binaries
bin/*
dist/

# test binary, built with `go test -c`
*.test
# environment files
*.env
# output of the go coverage tool, specifically when used with LiteIDE
*.out
# output of the web benchmarking tool
*.pdf
# go workspace files
go.work*

# === IDE SETTINGS === #

# Visual Studio
.vs
# Visual StudioCode
.vscode
!tools/debug/.vscode/
# JetBrains
.idea

# === TASKFILE SETTINGS === #

# checksums
.task/

# === DATA STORAGES === #

*.csv
*.json

# === LOGS === #

*.log
log/

# === DEPLOY === #

# Should be at the bottom of a file for better scope
!.gitkeep